<h1 class="mt-5 bg-warning text-black rounded ms-4 me-4 fw-bold text-center">Monty Notes</h1>

<br>

<br>

<div class="container border bg-primary text-center mt-5 rounded">

  <div class="row justify-content-md-center">

    <div class="row mt-5 input-group mb-5">
      <input type="text" class="form-control fs-5 fw-bold text-center col-sm-6" placeholder="New To-Do" aria-describedby="new To-Do" [(ngModel)]="newTodo">
      <button class="btn bg-dark text-warning fw-bold fs-5 col-sm-2" type="button" (click) = "addTodo()">Button</button>
    </div>

    <div class="row col mt-4 mb-5 col-lg-12">
      <table *ngFor = "let todo of todos; let i = index" class="table">
        <tbody>
          <tr class = "fw-bold h4 {{!todo.completed ? 'waiting' : 'notWaiting'}}" (click) = "isCompleted(i)">
            <th>{{ i + 1 }}</th>
            <td>{{ todo.task }}</td>
            <td style="color:red; font-weight: bold;" (click) = "deleteTodo(i)">Del</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
